<div class="footer-box">
    <div class="footer-locale" *ngIf="data.locale === 'en'">
        <p>Tesla Insurance Services &#169; 2019</p>
        <span>|</span>
        <p>Agency License # 0L89098</p>
        <span>|</span>
        <p>Privacy & Legal</p>
    </div>
    <div class="footer-locale" *ngIf="data.locale === 'zh'">
        <p>Tesla 保险服务 &#169; 2021</p>
        <span>|</span>
        <p>代理许可证 # 0L89098</p>
        <span>|</span>
        <p>沪ICP备14038430号-1</p>
        <span>|</span>
        <p>隐私 & 法律</p>
    </div>
</div>

